@{
    ViewBag.Title = "Intern";
}

<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Scripts/style.css">
    <link rel="stylesheet" href="~/Scripts/modal.css">
    <link rel="stylesheet" href="~/Scripts/topnav.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.min.js"></script>
    <script src="~/Scripts/app.js"></script>
</head>

<body ng-controller="DeviceController">
    <div class="topnav">
        <a href="@Url.Action("Index", "Home")">Home</a>
        <a href="@Url.Action("Client", "Home")">Clients</a>
    </div>

    <div class="main">
        <div class="container">
            <div class="wrapper">
                <input type="text" id="textfield" placeholder="Search..." ng-model="textfield">
                <div class="btns">
                    <button id="add-button" ng-click="addDevice()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-plus-lg" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2" />
                        </svg>
                    </button>
                    <button id="search-button" ng-click="search()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                        </svg>
                    </button>
                </div>
            </div>
            <div id="devices-grid">
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="device in gridContainer">
                            <td>{{ device.Id }}</td>
                            <td>{{ device.Name }}</td>
                            <td ng-click="editDevice($index)" class="editBtn">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                    <path fill-rule="evenodd"
                                          d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                                </svg>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <script type="text/ng-template" id="editDeviceModal.html">
                    <div class="modal-container">
                        <div class="popup">
                            <div class="modal-header">
                                <h3 class="modal-title">Edit Device</h3>
                            </div>
                            <div class="modal-body">
                                <label for="editDeviceName">Device Name:</label>
                                <input type="text" id="editDeviceName" ng-model="updatedDevice.Name" class="form-control">
                            </div>
                            <div class="modal-footer">
                                <button class="save" ng-click="save()">Save</button>
                                <button class="cancel" ng-click="cancel()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </script>
                <script type="text/ng-template" id="addDeviceModal.html">
                    <div class="modal-container">
                        <div class="popup">
                            <div class="modal-header">
                                <h3 class="modal-title">Add Device</h3>
                            </div>
                            <div class="modal-body">
                                <label for="editDeviceName">Device Name:</label>
                                <input type="text" id="editDeviceName" ng-model="updatedDevice.Name" class="form-control">
                            </div>
                            <div class="modal-footer">
                                <button class="save" ng-click="save()">Save</button>
                                <button class="cancel" ng-click="cancel()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </script>
            </div>
        </div>
    </div>


</body>
</html>